# https://github.com/moby/moby/issues/31208 
# ipvsadm -l --timout
# 修复ipvs模式下长连接timeout问题 小于900即可
net.ipv4.tcp_keepalive_time = 600
net.ipv4.tcp_keepalive_intvl = 30
net.ipv4.tcp_keepalive_probes = 10
net.ipv4.ip_forward = 1
net.ipv4.tcp_tw_reuse = 0
{% if ansible_distribution in ["CentOS","RedHat"] and ansible_kernel is version('4.12', '<') %}
net.ipv4.tcp_tw_recycle = 0
{% endif %}
# 要求iptables不对bridge的数据进行处理
net.bridge.bridge-nf-call-iptables = 1
net.bridge.bridge-nf-call-ip6tables = 1
net.bridge.bridge-nf-call-arptables = 1
net.netfilter.nf_conntrack_max = 2310720
fs.file-max = 52706963
fs.nr_open = 52706963
vm.swappiness = 0
vm.max_map_count = 3000000