[Service]
ExecStart=
ExecStart=/usr/bin/kubelet --address=127.0.0.1 --allow-privileged=true --pod-manifest-path=/etc/kubernetes/manifests --cgroup-driver={{ DOCKER_CGROUP_DRIVER }} --root-dir={{kubelet_root_dir}} --pod-infra-container-image={{ pod_infra_container_image }} --hostname-override={{ inventory_hostname }}
Restart=always