apiVersion: v1
kind: Pod
metadata:
  name: nginx-lb
  namespace: kube-system
  labels:
    component: nginx
    tier: control-plane
spec:
  hostNetwork: true
  priorityClassName: system-cluster-critical
  containers:
  - name: nginx-lb
    # image: nginx:1.15.8
    image: {{ kube_nginx_image }}
    imagePullPolicy: IfNotPresent
    # 检测当前节点nginx是否存活，若不存活则重启
    livenessProbe:
      failureThreshold: 8
      tcpSocket:
        port: {{ lb_kube_apiserver_port }}
      periodSeconds: 10  
      initialDelaySeconds: 15
      timeoutSeconds: 15
    resources: {}
    volumeMounts:
    - mountPath: /etc/nginx/nginx.conf
      name: nginx-lb-conf
      readOnly: true
  volumes:
  - name: nginx-lb-conf
    hostPath:
      path: /etc/nginx/nginx.conf
      type: FileOrCreate