apiVersion: v1
kind: Pod
metadata:
  name: lb-openresty
  namespace: kube-system
  labels:
    addonmanager.kubernetes.io/mode: Reconcile
    k8s-app: lb-openresty
  annotations:
    checksum/config: {{ lb_configuration_result.checksum }}
spec:
  hostNetwork: true
  dnsPolicy: ClusterFirstWithHostNet
  nodeSelector:
    beta.kubernetes.io/os: linux
  priorityClassName: system-cluster-critical
  containers:
  - name: lb-openresty
    image: {{ lb_openresty_image }}
    imagePullPolicy: IfNotPresent
{% if lb_kube_apiserver_healthcheck_port is defined %}
    livenessProbe:
      periodSeconds: 3
      timeoutSeconds: 5
      failureThreshold: 5
      initialDelaySeconds: 10
      httpGet:
        host: 127.0.0.1
        path: /healthz
        port: {{ lb_kube_apiserver_healthcheck_port }}
{% endif %}
    resources: {}
    volumeMounts:
    - mountPath: /usr/local/openresty/nginx/conf/nginx.conf
      name: openresty-lb-conf
      readOnly: true
    - mountPath: /etc/localtime
      name: localtime
      readOnly: true
  volumes:
  - name: openresty-lb-conf
    hostPath:
      path: /etc/kubernetes/plugins/lb-config/nginx.conf
      type: File
  - hostPath:
      path: /etc/localtime
      type: File
    name: localtime