# - name: 确认 kubeadm 版本
#   command: "kubeadm version -o short"
#   register: kubeadm_version_output

# - name: 设置 kubeadm api version 为 v1beta1
#   set_fact:
#     kubeadmConfig_api_version: v1beta1
#   when: 
#   - kubeadm_version_output.stdout is version('v1.13.0', '>=')
#   - kubeadm_version_output.stdout is version('v1.15.0', '<')

# - name: 设置 kubeadm api version 为 v1beta2
#   set_fact:
#     kubeadmConfig_api_version: v1beta2
#   when: 
#   - kubeadm_version_output.stdout is version('v1.15.0', '>=')
#   - kubeadm_version_output.stdout is version('v1.22.0', '<')

# - name: 设置 kubeadm api version 为 v1beta3
#   set_fact:
#     kubeadmConfig_api_version: v1beta3
#   when: 
#   - kubeadm_version_output.stdout is version('v1.22.0', '>=')

- name: 删除不需要的参数 iptables.max
  lineinfile:
    path: /etc/kubernetes/kubeadm-config.yaml
    regexp: 'max:'
    state: absent

- name: 删除不需要的参数 resourceContainer
  lineinfile:
    path: /etc/kubernetes/kubeadm-config.yaml
    regexp: 'resourceContainer:'
    state: absent

- name: 删除不需要的参数 kubelet-https
  lineinfile:
    path: /etc/kubernetes/kubeadm-config.yaml
    regexp: 'kubelet-https:'
    state: absent

- name: 删除不需要的参数 pod-eviction-timeout
  lineinfile:
    path: /etc/kubernetes/kubeadm-config.yaml
    regexp: 'pod-eviction-timeout:'
    state: absent

- name: kubeadm 删除不需要的参数 network-plugin
  lineinfile:
    path: /etc/kubernetes/kubeadm-config.yaml
    regexp: 'network-plugin:'
    state: absent

- name: kubelet 删除不需要的参数 network-plugin
  replace:
    path: /var/lib/kubelet/kubeadm-flags.env
    regexp: '--network-plugin=cni'

- name: 替换 experimental-cluster-signing-duration 为 cluster-signing-duration
  replace:
    path: /etc/kubernetes/kubeadm-config.yaml
    regexp: 'experimental-cluster-signing-duration'
    replace: 'cluster-signing-duration'

- name: 更新 kubeadm config 版本
  lineinfile:
    path: /etc/kubernetes/kubeadm-config.yaml
    regexp: '^kubernetesVersion'
    line: "kubernetesVersion: {{ kube_upgrade_version }}"

- name: "迁移 kubeadm config 至 {{ kube_upgrade_version }} 版本"
  shell: >
    kubeadm config migrate
    --old-config=/etc/kubernetes/kubeadm-config.yaml
    --new-config=/etc/kubernetes/kubeadm-config.yaml
  # when: kubeadmConfig_api_version != "v1beta3"

- name: "升级第一个 master 节点： {{ inventory_hostname }} 至 {{ kube_upgrade_version }}"
  shell: >
    kubeadm upgrade apply --config=/etc/kubernetes/kubeadm-config.yaml --force --ignore-preflight-errors=ImagePull
  when: inventory_hostname == groups['kube-master'][0]

- name: "升级剩余 master 节点： {{ inventory_hostname }} 至 {{ kube_upgrade_version }}"
  shell: >
    kubeadm upgrade node
    {% if kube_upgrade_version.split('.')[1]|int == 14 %}
    experimental-control-plane
    {% endif %}
  when: 
  - inventory_hostname != groups['kube-master'][0]
  - inventory_hostname in (groups['kube-master'] + groups['new-master'])

- name: "升级 worker 节点： {{ inventory_hostname }} 至 {{ kube_upgrade_version }}"
  shell: >
    kubeadm upgrade node
    {% if kube_upgrade_version.split('.')[1]|int == 14 %}
    config --kubelet-version {{ kube_upgrade_version }}
    {% endif %}
  when: 
  - inventory_hostname in (groups['kube-worker'] + groups['new-worker'])
  - inventory_hostname not in (groups['kube-master'] + groups['new-master'])