KUBELET_KUBEADM_ARGS=--cgroup-driver={{ DOCKER_CGROUP_DRIVER }} --hostname-override={{ inventory_hostname }} --network-plugin=cni --pod-infra-container-image={{ pod_infra_container_image }} --root-dir={{ kubelet_root_dir }}