apiVersion: v1
kind: Config
clusters:
- name: local
  cluster:
    server: https://{{ KUBE_APISERVER_IP | trim }}:{{ KUBE_APISERVER_PORT | trim }}
    certificate-authority: /etc/kubernetes/pki/ca.crt
users:
- name: calicoctl
  user:
    token: "{{ hostvars[groups['kube-master']|first]['CALICOCTL_TOKEN'] }}"
contexts:
- name: calicoctl-context
  context:
    cluster: local
    user: calicoctl
current-context: calicoctl-context